# Instagram Post Reach Prediction

In [23]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error 
from sklearn.preprocessing import StandardScaler

In [24]:
df = pd.read_csv('/content/instagram_reach.csv')
df

    Unnamed: 0  S.No  ... Time since posted Likes
0            0     1  ...          11 hours   139
1            1     2  ...           2 hours    23
2            2     3  ...           2 hours    25
3            3     4  ...           3 hours    49
4            4     5  ...           3 hours    30
..         ...   ...  ...               ...   ...
95           8    19  ...           3 hours    31
96           9    21  ...           3 hours    42
97          10    22  ...           3 hours    10
98          11    24  ...           3 hours   222
99          12    25  ...           3 hours   109

[100 rows x 8 columns]

In [25]:
df = df.drop(['Unnamed: 0','S.No','USERNAME','Caption','Hashtags'],axis=1)
df

    Followers Time since posted  Likes
0        1600          11 hours    139
1         880           2 hours     23
2         255           2 hours     25
3         340           3 hours     49
4         304           3 hours     30
..        ...               ...    ...
95        614           3 hours     31
96        450           3 hours     42
97        182           3 hours     10
98       2039           3 hours    222
99        741           3 hours    109

[100 rows x 3 columns]

In [26]:
a = df['Time since posted']
for i in range(0,len(a)):
  a[i] = int(a[i].strip('hours'))
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Followers Time since posted  Likes
0        1600                11    139
1         880                 2     23
2         255                 2     25
3         340                 3     49
4         304                 3     30
..        ...               ...    ...
95        614                 3     31
96        450                 3     42
97        182                 3     10
98       2039                 3    222
99        741                 3    109

[100 rows x 3 columns]

In [27]:
data = df.values
X, y = data[:,:-1], data[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=50)

In [28]:
scaled_features = StandardScaler().fit_transform(X_train, X_test)

In [29]:
model = LinearRegression()

In [30]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
y_pred = model.predict(X_test)

In [33]:
mean_squared_error(y_pred,y_test)

3374.40957754912